{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:lodash/recommended",
    "plugin:optimize-regex/recommended",
    "plugin:no-use-extend-native/recommended",
    "plugin:promise/recommended",
    "plugin:sonarjs/recommended"
  ],
  "plugins": [
    "no-loops"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-loops/no-loops": 2,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.config.js"]}]
  },
  "ignorePatterns": ["/node_modules", "/build"]
}