html {
  scrollbar-width: none;

  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  margin: 0;
  background-color: #e7f6ff;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  background: #fff;
  max-width: 1080px;
}

header {
  border-bottom: 1px solid #eaeaea;

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    width: 200px;
    font-size: 16px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.drawer {
  position: absolute;
  right: 0;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 30px;
  width: 420px;
  height: 100%;
  // transform: translateX(420px);
  // transition: transform 0.5s ease-in-out;

  .items {
    margin-bottom: 40px;
    overflow: auto;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  h2 {
    margin: 0;
    font-size: 24px;

    img {
      cursor: pointer;
    }
  }
}

.drawer-enter {
  opacity: 1;
}

.drawer-enter-active {
  transition: opacity 0.5s;
  opacity: 0;
}

.drawer-enter-done {
  opacity: 0;
}

.cart-item {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;

  .cart-item--img {
    background-position: 0 -3px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }
}

.btn-remove {
  transition: opacity 0.15s ease-in-out;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.cart-total-block {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      position: relative;
      top: -4px;
      flex: 1;
      margin: 0 7px;
      border-bottom: 1px dashed #dfdfdf;
      height: 1px;
    }
  }

  .green-button {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      top: 22px;
      right: 30px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.green-button {
  transition: background 0.2s ease-in-out;
  border: 0;
  border-radius: 18px;
  background: #9dd558;
  cursor: pointer;
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}
